* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f1de;
	font-family: 'Nunito', sans-serif;
	color: #3d405b;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vinyl-app-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.add-album-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2cc8f;
	margin-top: 15px;
	padding: 20px;
	border-radius: 50px;
	box-shadow: #f2cc8f 0 0 2px;
}

.album-input {
	width: 300px;
	height: 20px;
	margin-top: 15px;
	padding: 15px;
	border-radius: 25px;
	color: #3d405b;
	background: #f1faee;
	border: none;
}

.button-one {
	width: 100px;
	height: 40px;
	margin: 15px 0;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	color: #3d405b;
	background-color: #81b29a;
	box-shadow: #3d405b 0 1px 3px;
}

.button-one:hover {
	background-color: #3d405b;
	color: #f4f1de;
	box-shadow: #3d405b 0 2px 3px;
}

.button-two {
	margin: 15px 0 10px 50px;
	width: 100px;
	height: 40px;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	color: #3d405b;
	background-color: #81b29a;
	box-shadow: #3d405b 0 1px 3px;
}

.button-two:hover {
	background-color: #3d405b;
	color: #f4f1de;
	box-shadow: #3d405b 0 2px 3px;
}

.x-button {
	background: #81b29a;
	border: none;
	cursor: pointer;
}

.x-button-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	color: #f4f1de;
}

.x-button-icon:hover {
	color: #e07a5f;
	transform: translate3D(0,-1px,0) scale(1.4);
}

.album-list-container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.album-card {
	width: 200px;
	margin: 40px;
	background-color: #81b29a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	box-shadow: #3d405b 0 1px 3px;
	border-radius: 10px;
}

.album-card:hover {
	box-shadow: #3d405b 0 2px 6px;
	transform: translate3D(0,-1px,0) scale(1.03);
}

.genre-year {
	display: flex;
	justify-content: space-around;
}

.title-artist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	width: 100%;
	height: 40px;
	font-size: 32px;
	align-self: center;
	text-align: center;
	margin-top: 10px;
}

h2 {
	width: 100%;
	height: 40px;
	font-size: 20px;
	text-align: center;
}

h3 {
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
}

.album-img {
	object-fit: cover;
	order: -1;
	border-radius: 10px 10px 0 0;
}

.placeholder-img {
	object-fit: cover;
	order: -1;
	border-radius: 10px 10px 0 0;
	padding: 20px;
}
